<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Login</title>
</head>
<body>
    <div class="bg-img">
        <h1>GroguLogin</h1>
        <form class="container" method="POST">
            <b>Username</b>
            <input type="text" placeholder="Username" name="username" required>
            <b>Password</b>
            <input type="password" placeholder="Password" name="password" required> 
            <button type="submit" class="button">Login</button>
        </form>
    </div>
</body>
</html>