<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Report</title>
</head>
<body>
    <div class="bg-img">
        <h1>Report</h1>
        <% if(user.username == 'admin') { %>
            <button>
                <a href="/dashboard">Dashboard</a>
            </button>
        <% } %>
        <h3>Here is weekly the report!</h3>

        <h4>How much was sold?</h4>
            <p>Total: $ <%= totalCost %></p>
        <h4>Who sell the most?</h4>

            <p>Best Seller: <%= bestSeller %></p>

        <h4>Top five best sell products</h4>
        
        <table>
            <tr><td>Product Name</td><td>Number of sales</td></tr>
            <% var i = 0%>
            <% for(var [key, value] of bestProduct) { %>
                <% if (i == 5) { %>
                    <% break %>
                <%}%>
               <tr><td><%= key %></td><td><%= value %></td></tr>
               <% i += 1%>
            <% } %>
        </table>

    </div>
</body>
</html>