<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Sell Product</title>
</head>
<body>
    <div class="bg-img">
        <h1>Sell Product</h1>
        <form class="container" method="POST">
            <b>Nombre del Vendedor</b>
            <input type="text" placeholder="Nombre del Vendedor" name="sellerName" required>
            <b>Venta</b>
            <input type="text" placeholder="Venta" name="soldProduct" required> 
            <b>Lugar de entrega</b>
            <input type="text" placeholder="Lugar de entrega" name="deliveryPlace" required> 
            <b>Subtotal</b>
            <input type="text" placeholder="Subtotal" name="productSubtotal" required>
            <b>Total</b>
            <input type="text" placeholder="Total" name="productTotal" required>
            <div>
                <b>Fecha de Venta</b>
                <input type="date" placeholder="Fecha de Venta" name="soldDate" required>
            </div>
            <div>
                <b>Fecha de Entrega</b>
                <input type="date" placeholder="Fecha de Entrega" name="deliveryDate" required>
            </div>
            <button type="submit" class="button">Register Sell</button>
        </form>
    </div>
</body>
</html>